@model LoginVM

<div class="form-container login">
    <div class="form-box">
        <div class="close-form">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <h3 class="text-center mt-3 mb-4 fw-semibold">Đăng nhập</h3>
        <form method="POST" asp-controller="Account" asp-action="Login">
            <div class="form-error"></div>
            <div class="login-input-box">
                <label asp-for="@Model.UserName"></label>
                <div class="login-input">
                    <i class='bx bx-user'></i>
                    <input asp-for="@Model.UserName" placeholder="Tên đăng nhập" />
                    <span class="input-focus"></span>
                </div>
                <span asp-validation-for="@Model.UserName"></span>
            </div>
            <div class="login-input-box">
                <label asp-for="@Model.Password"></label>
                <div class="login-input">
                    <i class='bx bx-user'></i>
                    <input asp-for="@Model.Password" type="password" placeholder="Mật khẩu" />
                    <span class="input-focus"></span>
                </div>
                <span asp-validation-for="@Model.Password"></span>
            </div>
            <div class="d-flex login-redirect">
                <p>Chưa có tải khoản?&nbsp;</p>
                <a href="javascript:void(0)" class="to-register">Đăng ký</a>
            </div>

            <div class="cf-turnstile" data-sitekey="@CloudflareTurnstile.SiteKey" data-callback="loginCaptchaCompleted" data-size="flexible"></div>

            <button type="submit" class="form-submit-btn" disabled>Đăng nhập</button>
        </form>

        @await Html.PartialAsync("PartialViews/Form_ExternalLogin")
    </div>
</div>
