@model RegisterVM

<div class="form-container register">
    <div class="form-box">
        <div class="close-form">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <h3 class="text-center mt-3 mb-4 fw-semibold">Đăng ký</h3>
        <form method="POST" asp-controller="Account" asp-action="Register">
            <div class="form-error"></div>
            <div class="login-input-box">
                <label asp-for="@Model.RegUserName"></label>
                <div class="login-input">
                    <i class='bx bx-user'></i>
                    <input asp-for="@Model.RegUserName" placeholder="Tên đăng nhập" />
                    <span class="input-focus"></span>
                </div>
                <span asp-validation-for="@Model.RegUserName"></span>
            </div>
            <div class="login-input-box">
                <label asp-for="@Model.Email"></label>
                <div class="login-input">
                    <i class='bx bx-user'></i>
                    <input asp-for="@Model.Email" placeholder="example@gmail.com" />
                    <span class="input-focus"></span>
                </div>
                <span asp-validation-for="@Model.Email"></span>
            </div>
            <div class="login-input-box">
                <label asp-for="@Model.RegPassword"></label>
                <div class="login-input">
                    <i class='bx bx-user'></i>
                    <input asp-for="@Model.RegPassword" type="password" placeholder="Mật khẩu" />
                    <span class="input-focus"></span>
                </div>
                <span asp-validation-for="@Model.RegPassword"></span>
            </div>
            <div class="login-input-box">
                <label asp-for="@Model.ConfirmPassword"></label>
                <div class="login-input">
                    <i class='bx bx-user'></i>
                    <input asp-for="@Model.ConfirmPassword" type="password" placeholder="Nhập lại mật khẩu" />
                    <span class="input-focus"></span>
                </div>
                <span asp-validation-for="@Model.ConfirmPassword"></span>
            </div>
            <div class="d-flex login-redirect">
                <p>Đã có tải khoản?&nbsp;</p>
                <a href="javascript:void(0)" class="to-login">Đăng nhập</a>
            </div>

            <div class="cf-turnstile" data-sitekey="@CloudflareTurnstile.SiteKey" data-callback="registerCaptchaCompleted" data-size="flexible"></div>

            <button type="submit" class="form-submit-btn" disabled>Đăng ký</button>
        </form>

        @await Html.PartialAsync("PartialViews/Form_ExternalLogin")
    </div>
</div>