@model ChangePasswordVM

<form method="POST" class="form-change-password">
    <div class="row m-0 p-0">
        <div class="col-12 col-sm-11 col-lg-8">
            <div class="page-input-box">
                <label>Mật khẩu cũ</label>
                <div class="page-input">
                    <i class="fa-solid fa-lock"></i>
                    <input asp-for="@Model.OldPassword" id="old-password" type="password" placeholder="Mật khẩu cũ" />
                </div>
                <span asp-validation-for="@Model.OldPassword"></span>
            </div>
        </div>
    </div>

    <div class="row m-0 p-0">
        <div class="col-12 col-sm-11 col-lg-8">
            <div class="page-input-box">
                <label>Mật khẩu mới</label>
                <div class="page-input">
                    <i class="fa-solid fa-lock"></i>
                    <input asp-for="@Model.NewPassword" id="new-password" type="password" placeholder="Mật khẩu mới" />
                </div>
                <span asp-validation-for="@Model.NewPassword"></span>
            </div>
        </div>
    </div>

    <div class="row m-0 p-0">
        <div class="col-12 col-sm-11 col-lg-8">
            <div class="page-input-box">
                <label>Xác nhận mật khẩu</label>
                <div class="page-input">
                    <i class="fa-solid fa-lock"></i>
                    <input asp-for="@Model.ConfirmPassword" id="confirm-new-password" type="password" placeholder="Nhập lại mật khẩu mới" />
                </div>
                <span asp-validation-for="@Model.ConfirmPassword"></span>
            </div>
        </div>
    </div>

    <div class="row m-0 p-0">
        <div class="col-12 col-sm-11 col-lg-8">
            <div class="mt-4 form-error"></div>
        </div>
    </div>

    <button type="submit" class="form-submit-btn page-btn-sm mt-4">
        Đổi mật khẩu
    </button>
</form>