@model IEnumerable<SubHeader>

<header>
    <div class="top-header">
    </div>
    <div class="container-xxl">
        <div id="header">
            <div class="header-box">
                <div class="mobile-categories-btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <a href="\" class="mobile-logo">
                    <img src="~/images/logo/stech-logo-mobile.png" alt="Stech Logo">
                </a>
                <a href="\" class="logo">
                    <img src="~/images/logo/stech-logo.png" alt="Stech Logo">
                </a>
            </div>
            <div class="categories-btn">
                <i class="fa-solid fa-bars"></i>
                <span>Danh mục</span>
            </div>

            <div class="search d-flex align-items-center">
                <div class="close-search flex-column align-items-center">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
                <form action="/search" method="get" class="search-form">
                    <input type="text" id="search" name="q" class="search-box" placeholder="Bạn cần tìm gì?" required autocomplete="off" />
                    <button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <div class="ajax-search-autocomplete">
                    <div class="ajax-search-items"></div>
                    <div class="ajax-search-empty text-black">
                        Không tìm thấy sản phẩm nào...
                    </div>
                </div>
                <div class="search-history">
                    <h4>Lịch sử tìm kiếm:</h4>
                    <ul class="search-history-list">
                    </ul>
                    <div class="clear-search-history d-flex align-items-center justify-content-center">
                        Xóa lịch sử tìm kiếm
                    </div>
                </div>
            </div>

            <div class="header-hotline">
                <i class="fa-solid fa-headphones-simple header-icon"></i>
                <span>
                    Hotline: <br />
                    <b>0123456789</b>
                </span>
            </div>
            <div class="order-check">
                <a href="/order/checkorder">
                    <i class="fa-regular fa-clipboard header-icon"></i>
                    <span>Tra cứu đơn hàng</span>
                </a>
            </div>
            <div class="header-btn">
                <div class="cart-btn position-relative">
                    <a href="/cart">
                        <ion-icon name="cart-outline"></ion-icon>
                        <div class="cart-count-holder">
                            <div class="cart-count">0</div>
                        </div>
                        <span>Giỏ <br>hàng</span>
                    </a>

                    <div class="cart-preview-wrapper position-absolute">
                        <div class="cart-preview">
                        </div>
                        <button class="mt-2 w-100 p-2" onclick="window.location.href='/cart'">
                            Vào giỏ hàng
                        </button>
                    </div>
                </div>
            </div>
            <div class="login-btn-box position-relative">
                <div class="login-btn">
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <a href="/account" class="header-user-image">
                            @{
                                string avatar = User.FindFirst("Avatar")?.Value ?? "/images/user-no-image.svg";
                            }
                            <img src="@avatar" alt="" />
                        </a>
                        <div class="login-info-box account-logged position-absolute">
                            <a href="/account">
                                <div class="login-info-name">
                                    <img src="~/images/icons/hello.png" alt="" />
                                    <span> Xin chào, @User.Identity.Name</span>
                                </div>
                            </a>
                            <hr />
                            <a href="/account#orders">
                                <div class="login-info-order">
                                    <i class="fa-regular fa-clipboard"></i>
                                    <span>Đơn hàng của tôi</span>
                                </div>
                            </a>
                            <hr />
                            <div class="login-info-logout d-flex align-items-center">
                                <ion-icon name="log-out-outline"></ion-icon>
                                <span>Đăng xuất</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <a href="javascript:void(0)" class="login-link">
                            <i class="fa-regular fa-user header-icon login-btn"></i>
                            <span>Đăng<br /> nhập</span>
                        </a>

                        <div class="login-info-box position-absolute">
                            <h4>Đăng nhập/Đăng ký</h4>
                            <div class="login-register-btn-box d-flex align-items-center">
                                <button class="action-login-btn position-relative">
                                    Đăng nhập
                                </button>
                                <button class="action-register-btn position-relative">
                                    Đăng ký
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Header", "mobile-subheader")
</header>
@if(Model.Count() > 0)
{
    <nav class="main-subheader">
        <div class="container-xxl">
            <div class="navigation">
                @{
                    int lastIndex = Model.Count();
                    int currentIndex = 0;
                    foreach(SubHeader item in Model)
                    {
                        <a href="@item.RedirectUrl" class="nav-item">
                            @Html.Raw(item.Icon)
                            <span>@item.Title</span>
                        </a>

                        if(currentIndex != lastIndex - 1)
                        {
                            <div class="nav-break"></div>
                        }

                        currentIndex++;
                    }
                }
            </div>
        </div>
    </nav>
}
