@{
    Layout = null;
}

@model LoginVM

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập - STech Admin</title>

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style>

        .loader-box {
            max-width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            background: transparent;
            border-radius: .3rem;
        }

        .loader-container {
            --uib-color: #fff;
            --uib-speed: 2s;
            --uib-bg-opacity: 0;
            transform-origin: center;
            animation: loader-rotate var(--uib-speed) linear infinite;
            will-change: transform;
            overflow: visible;
        }

        .car {
            fill: none;
            stroke: var(--uib-color);
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
            stroke-linecap: round;
            animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
            will-change: stroke-dasharray, stroke-dashoffset;
            transition: stroke 0.5s ease;
        }

        .track {
            fill: none;
            stroke: var(--uib-color);
            opacity: var(--uib-bg-opacity);
            transition: stroke 0.5s ease;
        }

        @@keyframes loader-rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        @@keyframes stretch {
            0% {
                stroke-dasharray: 0, 150;
                stroke-dashoffset: 0;
            }

            50% {
                stroke-dasharray: 75, 150;
                stroke-dashoffset: -25;
            }

            100% {
                stroke-dashoffset: -100;
            }
        }

        button:disabled {
            cursor: not-allowed;
        }

        .form-error * {
            font-size: 0.9rem;
        }

        .form-error {
            margin-bottom: 1rem;
            border-radius: 0.2rem;
            background: #fff3cd;
            padding: 0.5rem 1rem;
            display: none;
        }

            .form-error i {
                font-size: 1rem;
                margin-right: 0.5rem;
                color: #e30019;
            }

            .form-error ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

                .form-error ul li {
                    padding: 0.3rem 0;
                }

        .field-validation-error span,
        .field-validation-valid span {
            margin: 0.3rem 0;
            color: #e30019;
            font-size: 0.85rem !important;
        }

        .login-input-box {
            margin-bottom: 1rem;
        }

            .login-input-box input {
                width: 100%;
                padding: 0.5rem 1rem;
                border: 1px solid #ced4da;
                outline: none;
                border-radius: 0.25rem;
                color: #495057;
                font-size: 0.93rem;
                font-weight: 500;
            }

            .login-input-box input:focus {
                border-color: #2962ff;
                outline: 1px solid #2962ff;
            }

        .submit-btn {
            width: 100%;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 0.25rem;
            background: #2962ff;
            color: #fff;
            font-size: 0.93rem;
            font-weight: 500;
        }

            .submit-btn:hover {
                background: #5380fa;
            }

    </style>

    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js"></script>

</head>
<body class="position-relative">
    <div class="container-fluid p-0 overflow-hidden position-fixed top-0 bottom-0 start-0 end-0 w-100 h-100">
        <div class="row p-0 h-100 w-100">

            <div class="col-12 col-md-5 col-lg-6 d-none d-md-flex align-items-center justify-content-center" style="background: #eaf0fa">
                <div>
                    <img src="~/admin/images/ecommerce.svg" alt="" style="width: 30rem; max-width: 100%" />
                </div>
            </div>

            <div class="col-12 col-md-7 col-lg-6 d-flex align-items-center justify-content-center">
                <div class="d-flex flex-column justify-content-between">
                    <div class="mb-4">
                        <img src="~/admin/images/logo/stech-logo-text-color.png" alt="" style="width: 9rem" />
                    </div>

                    <form class="login-form" action="POST" style="width: 22rem; max-width: 100%">
                        <h4 class="mb-1">Đăng nhập</h4>
                        <p class="text-secondary" style="font-size: 0.9rem; font-weight: 500">Dành riêng cho quản trị viên</p>

                        <div class="form-error"></div>

                        <div class="login-input-box">
                            <input type="text" asp-for="@Model.UserName" placeholder="Tên đăng nhập" />
                            <span asp-validation-for="@Model.UserName"></span>
                        </div>

                        <div class="login-input-box">
                            <input type="password" asp-for="@Model.Password" placeholder="Mật khẩu" />
                            <span asp-validation-for="@Model.Password"></span>
                        </div>

                        <div class="cf-turnstile" data-sitekey="@CloudflareTurnstile.SiteKey" data-callback="captchaCompleted" data-size="flexible"></div>

                        <button type="submit" class="submit-btn mt-2">ĐĂNG NHẬP</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
            integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"
            integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        const showButtonLoader = (element, loaderSize, strokeWidth) => {
            const elementHtml = $(element).html();
            const elementLoader = `<div class="loader-box">
                    <svg class="loader-container" style="width: ${loaderSize}; height: ${loaderSize}" viewBox="0 0 40 40" height="40" width="40">
                        <circle class="track" cx="20" cy="20" r="17.5" pathlength="100" stroke-width="${strokeWidth}" fill="none" />
                        <circle class="car" cx="20" cy="20" r="17.5" pathlength="100" stroke-width="${strokeWidth}" fill="none" />
                    </svg></div>`;

            const elementWidth = $(element).width();
            const elementHeight = $(element).height();

            $(element).html(elementLoader);
            $(element).find('.loader-box').css('height', elementHeight);
            $(element).find('.loader-box').css('width', elementWidth);

            $(element).prop('disabled', true);

            return elementHtml;
        }

        const hideButtonLoader = (element, elementHtml) => {
            const timeout = setTimeout(() => {
                $(element).html(elementHtml);
                $(element).prop('disabled', false);
                clearTimeout(timeout);
            }, 1000);
        }

        const showFormError = (form, message) => {
            $(form).find('.form-error').show();
            $(form).find('.form-error').html(message);
        }

        const closeFormError = (form) => {
            $(form).find('.form-error').hide();
            $(form).find('.form-error').empty();
        }

        const closeFormErrorWithTimeout = (form) => {
            const timeout = setTimeout(() => {
                $(form).find('.form-error').hide();
                $(form).find('.form-error').empty();
                clearTimeout(timeout);
            }, 5000)
        }

        function captchaCompleted(token) {
            $('.login-form .submit-btn').prop('disabled', false);
            console.log(1)
        }

        $('.login-form .submit-btn').prop('disabled', true);

        $('.login-form').submit(function (e) {
            e.preventDefault();
            const userName = $(this).find('#UserName').val();
            const password = $(this).find('#Password').val();
            const captchaResponse = $('input[name="cf-turnstile-response"]').val();

            if (!userName || !password) {
                return
            }

            const submitBtn = $(this).find('.submit-btn');
            const btnHtml = showButtonLoader(submitBtn, '23px', '4px');

            $.ajax({
                type: 'POST',
                url: '/api/account/login',
                contentType: 'application/json',
                data: JSON.stringify({
                    UserName: userName,
                    Password: password,
                    ReturnUrl: null,
                    CaptchaResponse: captchaResponse
                }),
                success: (response) => {
                    if (response.status) {
                        closeFormError(this);
                        window.location.href = response.data;
                    } else {
                        const str = `<span>
                        <i class="fa-solid fa-circle-exclamation"></i>`
                            + response.message + `</span>`;
                        showFormError(this, str);
                        closeFormErrorWithTimeout(this);
                        hideButtonLoader(submitBtn, btnHtml);
                    }
                },
                error: () => { }
            })
        })
    </script>

</body>
</html>
